* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Reggae One", cursive;
  /* background-color: rgb(218, 138, 138); */
  border: 1px black solid;
}
#sound-icon {
  position : absolute;
  width: 40px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 20px 0;
}
header button {
  width: 80px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  box-shadow: 10px 5px 10px;
}
header button:hover {
  background-color: rgb(124, 14, 14);
  color:rgb(182, 177, 177)
}
header h2{
  font-family: 'Courier New', Courier, monospace;
  width: 75%;
  text-align: justify;
  margin: 20px 0;
  padding: 10px;
  border-style: dotted;
}
span {
  font-family: "Reggae One", cursive;
  color: rgb(124, 14, 14)
}
#hangman {
  display: flex;
  justify-content: space-between;
}
#hangman img {
  width: 45%;
  margin-right: 50px;
  background-color: transparent;
}
#left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 50px;
  width: 45%;
}
#timer-wrap {
  display: flex;
  justify-content: center;
}
#timer-wrap p{
  padding : 0 5px;
}
#secret-word {
  font-size: 1.7rem;
  letter-spacing: 0.5rem;
  display: none;
}
#message-box {
  font-family: 'Courier New', Courier, monospace;
    display: block;
    width: 60%;
    text-align: center;
}
#letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#letters button {
  font-size: 1.2rem;
  height: 35px;
  width: 30px;
}
.selected {
  background-color: rgb(71, 69, 69);
}
