* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Reggae One", cursive;
  /* border: 1px black solid; */
}
body {
  /* background: transparent; */
  background-image: url("./img/medieval-village-calque.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(218, 138, 138); */
}
#sound-icon {
  position : absolute;
  width: 50px;
  background: rgb(182, 177, 177);
  border-radius: 50%;
}
#sound-icon:hover {
  cursor: pointer;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 20px 0;
}
header h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  width: 75%;
  text-align: justify;
  padding: 10px;
  border-style: dotted;
}
.highlight {
  font-family: "Reggae One", cursive;
  color: rgb(124, 14, 14)
}
#hangman {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
#hangman img {
  width: 45%;
  /* margin-right: 50px; */
  /* background-color: rgba(223, 211, 139, 0.322);
  border-radius: 30%; */
}
#left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin-left: 50px; */
  width: 45%;
}
#timer-wrap {
  display: flex;
  justify-content: center;
}
#timer-wrap p{
  padding : 0 5px;
  text-align: center;
  /* font-size: 1.2rem; */
}
#secret-word {
  font-size: 1.7rem;
  letter-spacing: 0.5rem;
  display: none;
}
#message-box {
  font-family: 'Courier New', Courier, monospace;
    display: block;
    width: 60%;
    text-align: center;
}
#start-btn {
  width: 80px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  box-shadow: 10px 5px 10px;
}
#start-btn:hover {
  background-color: rgb(124, 14, 14);
  color:rgb(182, 177, 177)
}
#letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#letters button {
  font-size: 1.2rem;
  height: 35px;
  width: 30px;
}
.selected {
  background-color: rgb(71, 69, 69);
}
@keyframes shake {
  25%, 75% {
      transform: translateX(10px);
  }
  50% {
      transform: translateX(-10px);
      transform: translateY(2px);
  }
}
.shake {
  animation: 0.3s linear shake;
}
@keyframes blink {
  0%,
  40%,
  80% {
    opacity: 0;
  }
  20%,
  60%,
  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 2.5s linear;
}
@keyframes fly {
  50% {
    transform: translate(-15px, 5px) rotate(-15deg);
  }
}
.fly {
  animation: fly 2s infinite;
}
